.selected-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selected-item span:last-child {
    padding-left: 10px;
}
.ant-select-selection-selected-value i {
    padding-right: 10px;
}
.ant-select-selection-selected-value span {
    padding-right: 5px;
}