<widget ref="loading">
<section class="lists-content-page">
    <filtered />
    <div class="list-content-main">
        <breadcrumb />
        <h1>RENT FULLY FURNISHED APARTMENT, 2 BEDROOM, 3 BEDROOM, HCMC</h1>
        <a-row class="list-content-view">
            <a-col :span="4">
                <span>Show 15 in 207 Listing Sort by</span>
            </a-col>
            <a-col :span="4"><selected /></a-col>
            <a-col :span="4">
                <div class="view-select">
                    <span @click="selected = 1" :class="[classArray ,{ active:selected == 1 }]">
                        <a-tooltip placement="top" >
                            <template slot="title">
                                <span>Grid</span>
                            </template>
                            <i class="fas fa-th-large"></i>
                        </a-tooltip>
                    </span>
                    <span @click="selected = 2" :class="[classArray ,{ active:selected == 2 }]">
                        <a-tooltip placement="top" >
                            <template slot="title">
                                <span>Map</span>
                            </template>
                            <i class="fas fa-map"></i>
                        </a-tooltip>
                    </span>
                    <span @click="selected = 3" :class="[classArray ,{ active:selected == 3 }]">
                        <a-tooltip placement="top" >
                            <template slot="title">
                                <span>List</span>
                            </template>
                            <i class="fas fa-bars"></i>
                        </a-tooltip>
                    </span>
                    <span @click="selected = 4" :class="[classArray ,{ active:selected == 4 }]">
                        <a-tooltip placement="top" >
                            <template slot="title">
                                <span>Project</span>
                            </template>
                            <i class="fas fa-university"></i>
                        </a-tooltip>
                    </span>
                </div>
            </a-col>
        </a-row>
        <a-row class="list-content-render"><grid-list :renderType="selected" /></a-row>
    </div>
</section>
</widget>