.detail {

    &-bg-cover {
        background-size: cover;
        background-position: center;
        height: 60vh;
    
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
    }

    &-main-content {
        margin: 20px 0;
        padding: 10px 20px;
    }

    &-tabs-content {
        margin: 20px 0 0 0;
        min-height: 500px;
    }

    &-request-form {
        margin: 20px 0 0 0;
        padding: 30px 20px;
        border: 1px solid #aaa;
        text-align: center;
    }

    &-main-price {
        margin: 10px 0;

        .price {
            font-size: 28px;
            font-weight: 500;
            padding: 0 5px;
        }
    }

    &-popular-tag {
        margin: 10px 0 30px 0;

        .popular-tag {
            padding: 3px 5px;
            border-radius: 3px;
            text-align: center;
            white-space: nowrap;
            background: #2378a7;
            color: #fff;

            & span {
                padding: 0 10px 0 0;
            }
        }
    }
}

.eye-tag {
    margin: 10px;
    & i {
        padding: 3px
    }

    & span {
        padding: 2px;
    }
}

.request-content-button {
    margin: 10px 0 0 0;
    background: #e25e66;
    color: #fff;
    border: none;

    &:active {
        background: #e25e66;
        color: #fff;
        border: none;
    }

    &:hover {
        background: #ea898f;
        color: #fff;
        border: none;
    }
}