$mobile: 500px;
$tablet-width: 750px;
$tablet-big: 850px;
$tablet-large: 950px;

$desktop-width: 1000px;
$desktop-big: 1200px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablet-big {
    @media (max-width: #{$tablet-big}) {
        @content;
    }
}

@mixin tablet-large {
    @media (max-width: #{$tablet-large}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop-big {
    @media (max-width: #{$desktop-big}) {
        @content;
    }
}
