@import '@/styles/app.scss';

.header-responsive-wrapper {
    display: none;

    @include tablet-large {
        display: block;
    }

    .header-responsive {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &-wrapper {
            display: block
        }

        &-filter {
            padding: 10px 80px;

            @include mobile {
                padding: 10px 20px;
            }
        }

        & span {
            font-size: 24px;
            cursor: pointer;
        }
    }
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5%;
    height: 64px;

    @include desktop-big {
        padding: 0 1%;
    }

    @include desktop {
        padding: 0 .5%;
    }

    @include tablet-large {
        display: none;
    }

    &-logo img {
        width: 150px;
        height: auto;
        cursor: pointer;

        @include desktop-big {
            width: 100px;
        }

        @include desktop {
            width: 80px;
        }
    
        @include tablet-large {
            width: 150px;
        }
    }

    &-navlink {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .navlink-item {
            margin: 0 15px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;

            @include desktop-big {
                margin: 0 6px;
                font-size: 14px;
            }
    
            @include desktop {
                margin: 0 4px;
                font-size: 14px;
            }
        }
        .navlink-item-special {
            display: inline-block;
            background-color: #2aadf3;
            padding: 0 10px;
            color: #fff;
            border-radius: 20px;
            height: 35px;
            line-height: 35px;
        }
    }

    &-search {
        .top-search {
            width: 300px;

            @include desktop-big {
                width: 250px;
            }
    
            @include desktop {
                width: 220px;
            }
        }
    }

    &-language {
        .top-selected {
            width: 160px;

            @include desktop-big {
                font-size: 14px;
                width: 140px;
            }
    
            @include desktop {
                font-size: 14px;
                width: 130px;
            }
        }
    }

    &-account {
        cursor: pointer;

        .top-account {
            font-size: 16px;
        }
    }
}
